name: "Hello World workflow"

# controls when the action will run, Triggers the workflow on push done to master or production branch
on:
    push:
        branches:
            - master
            - prod
jobs:
    hello_world:
        runs-on: ubuntu-latest
        steps:
            - name: "Print hello world"
              run: echo "Hello world"
            
    

